.navbar.navbar-fixed-top {
    background: rgba(0,0,0,.8);
    z-index: 9;
}

header .top-discount {
    top: 89px;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

header .pizza-logo {
    color: #fff;
}

header .site-title {
    position: fixed;
    top: 0;
    background: #ea862e;
    z-index: 99;
    width: 100px;
    height: 90px;
    font-size: 19px;
    padding: 10px;
    padding-top: 15px;
    color: #fff;
}

.inform-block.pad-l-125 .row {
    padding: 8px 0;
}

.row.with-border {
    border-bottom: 1px solid #fff;
}

header span {
    color: #a1a1a1;
}

header .phone {
    font-size: 2rem;
    margin-right: 30px;
}


header .schedule {
    font-size: 1.2rem;
    margin-right: 30px;
}


header .action {
    font-size: 1.6rem;
    margin-right: 30px;
}

a.main-title.hidden-xs {
    color: #fff;
    font-size: 1.6rem;
}

header .sign-in-button {
    float: right;
    margin-top: -1px;
    padding: 4px 12px;
}